@forward 'variables';
@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
    font-size: 18px;
}

h1 {
    font-weight: bold;
    font-size: $h1-size;
    font-family: $header-font;
}

h2 {
    font-weight: 600;
    font-size: $h2-size;
    font-family: $header-font;
}

h3 {
    font-weight: 500;
    font-size: $h3-size;
    font-family: $header-font;
}

h4 {
    font-weight: 500;
    text-decoration: italic;
    font-size: $h4-size;
    font-family: $header-font;
}

h5 {
    font-weight: 400;
    text-decoration: italic;
    font-size: $h5-size;
    font-family: $header-font;
}

h5 {
    font-weight: 400;
    text-decoration: italic;
    font-size: $h6-size;
    font-family: $header-font;
}

p {
    font-size: 1rem;
    font-weight: 300;
    font-family: $header-font;
}