// Blog Colors
$primary-color: #7D41E1;
$secondary-color: #2DAAFC;
$tertiary-color: #CAC9F3;
$secondary-color-gradient: #218CF4;
$social-media-color: #13305C;
$heading-text-color: #092856;
$paragraph-text-color: #79788A;
$nav-color: #fff;
// layout
$border-radius: 20px;
$header-font: 'Poppins', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;
// Font Sizes
$h1-size: 2.125rem;
$h2-size: 1.875rem;
$h3-size: 1.5rem;
$h4-size: 1.25rem;
$h5-size: 1.125rem;
$h6-size: 1rem;